@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(0.6);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.4);
  }
  75% {
    transform: scaleY(1.2);
  }
}

.box {
  @apply bg-white h-full rounded w-6;
  transform: scaleY(0.4);
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.animate-quiet {
  animation-name: quiet;
}

.animate-normal {
  animation-name: normal;
}

.animate-loud {
  animation-name: loud;
}
